[package]
name = "mesosphere-health-check"
version = "2.0.0"
edition = "2021"

[dependencies]
axum = "0.7"
serde = { version = "1", features = ["derive"] }
mesosphere-application = { path = "../application" }
