# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
venv/
.pnp
.pnp.js

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
__pycache__/
out/
build
dist
target/


# Debug
*.log
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Misc
.DS_Store
*.pem